.div1
{
  height: 595px;
  background-repeat:no-repeat;
  background-size:cover
}

h1
{
  text-align:center;
  padding-top:10px;
  background-color:black;
  color:white;
  height:60px
}

form
{
    margin-left: 30%;
    padding-left:  30px;
    background-color: white;
    margin-right:40%;
    background-color: #5CB3FF
}

Button
{
   width: 100px;
   height:40px;
   margin-left:50px
}